@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
	margin:0;
	padding:0;
	overflow-x:hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
   overflow-x: hidden; 
    overflow-y: scroll; 
}
body::-webkit-scrollbar {
	display: none;
}
p,a,h1,h2,h3,h4,h5,li,ul{
    margin: 0;
    padding: 0;    
    color: #756e6d;
}
p,a,button{
    font-family: 'Open Sans';
    font-size: 15pt;
    font-weight: 600;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat';
    font-size: 35pt;
    font-weight: 300;
}
.wrapper{
    max-width: 1350px;
    padding: 0 50px;
    margin: 0 auto;
    border: solid black;
}
header{
    background-color: #b98787;
    
}
header .wrapper{
    margin: 0;
    height: 100px;
    margin: 0 auto;
}
header .wrapper:after{
    display: block;
    content: "";
    clear: both;
}
h1.logo{
    background-image: url(../_images/logosample-white.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 100px;
    height: 100px;
    text-indent: -10000px;
    float: left;
    margin: 0;
}
header nav{
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header nav:after, header nav ul:after{
    display: block;
    content: "";
    clear: both;
}

header nav h2{
    text-indent: -100000px;
    height: 0;
}
header nav li{
    float: left;
    list-style-type: none;
    margin: 10px 30px;
}
header nav li a{
    text-decoration: none;
    color: white;
}
#main-banner{
    margin: 100px 0;
}
#main-banner .wrapper{
    display: flex;
    vertical-align: middle;
    
}
#main-banner .wrapper::after,#main-banner::after{
    content: "";
    clear: both;
    display: block; 
    
}
#main-banner .banner-image{
    float: left;
    width: 60%;
}
#main-banner .banner-description{
    float: right;
    width: 40%;
    padding: 20px;
    margin: auto;
    
}
#main-banner .banner-image img{
    width: 100%;
    height: auto;
}
#main-banner:after{
    display: block;
    content: "";
    clear: both;
}
@keyframes sliding-image {
    0%   {opacity: 0;top: 150px}
    100% {opacity: 1;top: 230px}
  }
  
#main-banner .sliding-banner{
    background-color: #ffeeef;
    width: 170px;
    position: absolute;
    top: 230px;
    cursor: pointer;
    animation-name: sliding-image;
    animation-duration: 3s;
}
#main-banner .sliding-banner p{
    color: #b98787;
    padding: 10px;
}
.banner-description{
    text-align: center;
    height: auto;
   
}
.banner-description button,#collections a{
    margin-top: 50px;
    background-color: #b98787;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
/* COLLECTIONS */
#collections{
    text-align: center;
    margin: 100px auto;
}

#collections .wrapper div{
    float: left;
    width: 25%;
    margin: 50px 0;
    
}

#collections::after, #collections .wrapper div::after{
    display: block;
    content: "";
    clear: both;   
}
#collections .wrapper div img{
    height: 400px;
    width: 250px;
    cursor: pointer;
}
#collections .wrapper div p{
    cursor: pointer;
}
#collections .wrapper a{
    margin-top: -10px;
}

/* ABOUT */
#about{
    text-align: center;
    margin: 100px auto;
}